body {
  padding-top: 70px;
}

.input-group {
  height: 50px;
  margin: 20px auto;
}

#highcharts {
  width: 100%;
  height: 400px;
}

#keyselect {
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

#urlselect {
  font-size: 120%;
  width: 300px;
  margin-right: 25px;
}

#limitselect {
  font-size: 120%;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

  .input-group {
    margin: 0px;
    width: 100%;
  }

  #urlselect {
    margin: 0px;
    width: 100%;
  }

  #limitselect {
    margin: 0px;
    width: 100%;
  }
}

