.navbar.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      a.navbar-brand(href=(title_link ? title_link : '#'))= title_text
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.timing
          a(href='javascript:category("timing")') Timing
        li.sizing
          a(href='javascript:category("sizing")') Sizing
        li.requests
          a(href='javascript:category("requests")') Requests
        li.counts
          a(href='javascript:category("counts")') Counts

.container
  .row.row-offcanvas.row-offcanvas-left
    #sidebar.col-xs-6.col-sm-4.col-md-2.sidebar-offcanvas(role='navigation')
      select#keyselect.form-control(multiple='multiple', size='28')

    .col-xs-12.col-md-10
      .container
        .row.hidden-md.hidden-lg
          .pull-left
            p
              button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas') &#171; Toggle Key Select &#187;
        .row
          .col-md-2.visible-md.visible-lg
            ul.pager
              li.previous.first-lg
                a(href='javascript:navigate("first")') &#171;
              li.earlier-lg
                a(href='javascript:navigate("earlier")') &#8592;
          .col-xs-12.col-sm-12.col-md-8
            .input-group
              form
                select#urlselect.input-sm
                  option Select Page
                select#limitselect.input-sm
                  option(value='10') Limit (10)
                  option(value='25') 25
                  option(value='50') 50
          .col-md-2.visible-md.visible-lg
            ul.pager
              li.later-lg
                a(href='javascript:navigate("later")') &#8594;
              li.next.last-lg
                a(href='javascript:navigate("last")') &#187;

        .row.hidden-md.hidden-lg
          .col-xs-6.col-sm-6
            ul.pager.pull-right(style="margin-left: 20px")
              li.previous.first-sm
                a(href='javascript:navigate("first")') &#171;
              li.earlier-sm
                a(href='javascript:navigate("earlier")') &#8592;
          .col-xs-6.col-sm-6
            ul.pager.pull-left(style="margin-right: 20px")
              li.later-sm
                a(href='javascript:navigate("later")') &#8594;
              li.next.last-sm
                a(href='javascript:navigate("last")') &#187;

      .container
        .row
          .col-xs-12.col-sm-12.col-md-12
            #highcharts

