!!!
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/2.3.2/slate/bootstrap.min.css')
  body!= body

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
  script(src='//code.highcharts.com/stock/highstock.js')
  script(src='//code.highcharts.com/modules/exporting.js')
  script(src='//cdn.jsdelivr.net/momentjs/2.1.0/moment.min.js')
  script(src='/javascripts/gray.js')
  script(src='/javascripts/charts.js')
