doctype
html
  head
    title= title_text
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='//netdna.bootstrapcdn.com/bootswatch/3.0.0/'+theme+'/bootstrap.min.css', rel='stylesheet')

  body!= body

  link(href='/stylesheets/main.css', rel='stylesheet')
  script(src='//cdn.jsdelivr.net/jquery/1.10.2/jquery-1.10.2.min.js')
  script(src='//cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js')
  script(src='//cdn.jsdelivr.net/highcharts/3.0.4/highcharts.js')
  script(src='//cdn.jsdelivr.net/momentjs/2.1.0/moment.min.js')
  script(src='/javascripts/charts.js')
  script(src='//cdn.jsdelivr.net/highcharts/3.0.4/modules/exporting.js')
  - if (chart_theme)
    script(src='//cdn.jsdelivr.net/highcharts/3.0.4/themes/'+chart_theme+'.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
