!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.slate.min.css')

  body!= body

  script(src='/javascripts/vendor/jquery.min.js')
  script(src='/javascripts/vendor/jquery.cookie.js')
  script(src='/javascripts/vendor/highcharts/highcharts.js')
  script(src='/javascripts/vendor/highcharts/exporting.js')
  script(src='/javascripts/vendor/highcharts/gray.js')
  script(src='/javascripts/vendor/moment.min.js')
  script(src='/javascripts/charts.js')
